.busca-result {
  color: #646464;
  border-top: 3px solid #ccc;
}

.action-icon {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.action-icon:hover {
  transform: scale(1.2);
}

.input-group-text {
  cursor: pointer;
}

.action-icon-edit {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.action-icon-edit:hover {
  transform: scale(1.2);
}
